
# python cache
*.pyc

# telegram session
*.session
*.session-journal

# token, api e key
*/myClientParameters.py
*/clientParameters.py
*/pushbullet_APIKEY.py

# database utenti
database/linkClick.txt
*.log
*.csv
*.pkl
