
# python cache
*.pyc

# telegram session
*.session
*.session-journal

# token, api e key
mazzoBot/workEnv/myClientParameters.py
*/myClientParameters.py
*/clientParameters.py
*/pushbullet_APIKEY.py
pushbullet_APIKEY.py

# database utenti
*/database
*/database/linkClick.txt
*.log
*.csv
*.pkl
